body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
.prepare-grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.prepare-header {
    flex: 0 0 auto;
    overflow: visible;
   
}
.prepare-header .navbar {
    background-color: #333;
   
}
.prepare-header .navbar-item, .prepare-header label, .prepare-header .navbar-item a h2{
    color: #fff;
}
.prepare-header .navbar-item a:hover {
    background-color: transparent;
}
.prepare-body {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.prepare-side {
    flex: 0 0 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 5px;
}
.prepare-side > div:first-child {
    flex: 0 0 auto;
}
.prepare-side > div:last-child {
    display: block;
    overflow: auto;
}
.prepare-main {
    flex: 1 1 0;
    overflow: auto;
}
.prepare-inner {
    margin: 20px;
}
.treeview {
    background: white;
    padding: 10px;
}
.treeview li > ul {
    margin-left: 10px;
    padding-left: 10px;
    border: dotted gray;
    border-width: 0 0 0 2px;
}
.treeview li.closed > ul {
    display: none;
}
.treeview li.selected > a {
    border-radius: 5px;
    padding: 5px;
    background: gray;
    color: white;
}
.treeview li.selected > a {
    color: white;
}
flex-resizer {
    width: 5px;
    background: transparent;
    cursor: ew-resize;
    flex: 0 0 auto;
}
flex-resizer:hover {
    background: #eee;
}